rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for user root document
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Rules for user subcollections (e.g. progress/vocab)
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
